<!-- Navigation Bar -->
<div id="jsUsed">
    <header class="header-color">
        <a href="//localhost:3000/" class="logo">AQUA</a>
        <div class="menu-toggle"></div>
        <nav>
            <ul>
                <li><a href="//localhost:3000/team">Team</a></li>
                <li><a href="//localhost:3000/charts">Statistics</a></li>
                <div class="dropdown">
                    <li><a>Language</a></li>
                    <div class="dropdown-content">
                        <li><button class="translate-button" data-lng="en">󠁧󠁢󠁥English</button></li>
                        <li><button class="translate-button" data-lng="bg">Bulgarian󠁧</button></li>
                    </div>
                </div>
            </ul>
        </nav>
        <div class="clearfix"></div>
    </header>
</div>