.chart {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 12rem;
}

.background-charts {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 25px;
    margin: 1rem;
    padding: 1rem;
}

.diagram {
    width: 450px;
}

.diagram2 {
    width: 960px;
}

@media only screen and (max-width: 1550px) {
    .profiles {
      flex-direction: column;
    }
  
    .profile {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .profile p {
      text-align: center;
      margin: 20px 60px 80px 60px;
      font-size: 20px;
    }
}

@media only screen and (max-width: 1000px) {

    .diagram2 {
        width: 350px;
    }

    .diagram {
        width: 350px;
    }
}