/* Main CSS File including navs, footers and such 
   Camel case classes and ids are forbiden!*/

:root { /*CSS variables*/
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    --text-primary: #fff;
    --text-secondary: #000;
    --element-primary: #2F3843;
    --element-secondary: #426E86;
    --element-tertiary: #F9C34D;
    --element-quaternary: #fff;
    --transition-speed: 300ms;
}

body {
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar { /*Pseudo element*/
    width: 0.25rem;
}
  
body::-webkit-scrollbar-track { /*Pseudo element*/
    background: #1e1e24;
}
  
body::-webkit-scrollbar-thumb { /*Pseudo element*/
    background: var(--element-tertiary);
    border-radius: 25px;
}

header {
    position: relative;
    margin: 0px auto;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: var(--transition-speed);
    margin-bottom: 6rem;
}
  
body.header-not-at-top header {
    border-radius: 10px;
    position: fixed;
    margin-left: 1rem;
    z-index: 1;
    margin-top: 1rem;
}
  
#top-of-site-pixel-anchor {
    position: absolute;
    width: 1px;
    height: 1px;
    top: 500px;
    left: 0;
}

.header-color {
    background-color: rgba(255, 255, 255, 0.3);
}

body.header-not-at-top .header-color {
    background-color: rgba(0, 0, 0, 0.8);
}

body.header-not-at-top nav ul li a {
    color: var(--text-primary);
}

.logo {
    color: var(--element-tertiary);
    height: 50px;
    font-size: 36px;
    line-height: 60px;
    padding: 0 20px;
    text-align: center;
    box-sizing: border-box;
    float: left;
    font-weight: 700;
    text-decoration: none;

    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: var(--transition-speed);
}

.logo:hover {
    text-shadow: 0 2px 5px rgba(0, 0, 0, 1);
}

nav {
    float: left;
}

.clearfix { /* fixes invisible box */
    clear: both;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--text-secondary);
    text-transform: uppercase;
    font-size: 1.1rem;
}

nav ul li a:hover {
    background: var(--element-primary);
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);

    transition: var(--transition-speed);
}

@media (max-width: 768px)
{
    .menu-toggle {
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 2rem;
        text-decoration: none;
        color: var(--element-primary);
    }
    .menu-toggle:before {
        content: '\f0c9'; /* fontAwesome code for icon*/
        font-family: fontAwesome;
        line-height: 40px;
    }
    .menu-toggle.active:before {
        content: '\f00d'; /* fontAwesome code for icon*/
    }
    nav {
        display: none;
    }
    nav.active {
        display: block;
        width: 100%;
    }
    nav.active ul {
        display: block;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    border-radius: 10px;
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    min-width: 160px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.4);
    padding: 12px 16px;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
}

.dropdown:hover .dropdown-content {
    display: block;
}

body.header-not-at-top .dropdown-content {
    background-color: var(--text-secondary);
}

.background {
    background-image: url("../img/BG.jpg");
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.background-red {
  background-image: url("../img/teamBG.jpg");
  min-height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.center {
    text-align: center;
}

.white {
    color: var(--text-primary);
}

/* --------------------- Footer -----------------------*/

.content1 {
  position: relative;
  margin: 130px auto;
  text-align: center;
  padding: 0 20px;
}

footer {
  margin-top: 300px;
  padding-bottom: 30px;
  position: relative;
  bottom: 0px;
  width: 100%;
  background: var(--element-primary);
}

.main-content {
  display: flex;
}

.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}

.box h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}

.box .content {
  margin: 20px 0 0 0;
  position: relative;
}

.left .content p {
  text-align: justify;
}

.left .content .social {
  margin: 20px 0 0 0;
}

.left .content .social a {
  padding: 0 2px;
}

.left .content .social a span {
  height: 40px;
  width: 40px;
  background: var(--text-secondary);
  line-height: 40px;
  text-align: center;
  font-size: 1.25rem;
  border-radius: 10px;
  transition: var(--transition-speed);
  color: var(--text-primary)
}

.left .content .social a span:hover {
  background: var(--element-tertiary);
}

.content .fas {
  font-size: 1.5rem;
  background: var(--text-secondary);
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: var(--transition-speed);
}

.content .fas:hover {
  background: var(--element-quaternary);
}

.content .text {
  font-size: 1.1rem;
  font-weight: 500;
  padding-left: 10px;
}

.content .phone {
  margin: 15px 0;
}

.right form .text {
  font-size: 1rem;
  margin-bottom: 2px;
}

.right form input, .right form textarea {
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1rem;
  background: var(--text-secondary);
  padding-left: 10px;
  border: 1px solid var(--text-secondary);
  color: var(--text-primary);
  border-radius: 10px;
}

.right form input:focus,
.right form textarea:focus {
  outline-color: var(--element-quaternary);
}

.right form input {
  height: 35px;
}

textarea {
  resize: vertical;
}

.right form .btn {
  margin-top: 10px;
}

.right form .btn button {
  height: 40px;
  width: 100%;
  border: none;
  background: var(--element-quaternary);
  font-size: 1.25rem;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 10px;
  transition: var(--transition-speed);
}

.right form .btn button:hover{
  background: var(--element-tertiary);
}

@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}

/* -------------- Slider --------------*/

.slider{
    position: relative;
    background: #000116;
    width: 800px;
    min-height: 500px;
    margin: auto;
    overflow: hidden;
    border-radius: 25px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
  }
  
  .slider .slide{
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(0% at 0 50%);
  }
  
  .slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
  }
  
  .slider .slide img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .slider .slide .info{
    position: absolute;
    color: #222;
    background: rgba(255, 255, 255, 0.3);
    width: 75%;
    margin-top: 50px;
    margin-left: 50px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 5%);
  }
  
  .slider .slide .info h2{
    font-size: 2em;
    font-weight: 800;
  }
  
  .slider .slide .info p{
    font-size: 1em;
    font-weight: 400;
  }
  
  .navigation{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .slider:hover .navigation{
    opacity: 1;
  }
  
  .prev-btn, .next-btn{
    z-index: 999;
    font-size: 2em;
    color: #222;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    cursor: pointer;
  }
  
  .prev-btn{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  
  .next-btn{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  
  .navigation-visibility{
    z-index: 999;
    display: flex;
    justify-content: center;
  }
  
  .navigation-visibility .slide-icon{
    z-index: 999;
    background: rgba(255, 255, 255, 0.5);
    width: 20px;
    height: 10px;
    transform: translateY(-50px);
    margin: 0 6px;
    border-radius: 2px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }
  
  .navigation-visibility .slide-icon.active{
    background: #4285F4;
  }
  
  @media (max-width: 900px){
    .slider{
      width: 100%;
    }
  
    .slider .slide .info{
      position: relative;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  @media (max-width: 500px){
    .slider .slide .info h2{
      font-size: 1.8em;
      line-height: 40px;
    }
  
    .slider .slide .info p{
      font-size: 0.9em;
    }
  }

  /* -------------------- Team page ---------------------*/

.container {
  margin: 20px 40px;
  color: white;
}

.container-black {
  margin: 20px 40px;
  color: #000;
}

.heading {
  font-size: 60px;
  color: white;
}

.heading span {
  font-style: italic;
  font-size: 30px;
}

.profiles {
  display: flex;
  justify-content: space-around;
  margin: 20px 80px;
}

.profile {
  flex-basis: 260px;
  margin-bottom: 4rem;
}

.profile .profile-img {
  height: 260px;
  width: 260px;
  border-radius: 50%;
  filter: grayscale(100%);
  cursor: pointer;
  transition: var(--transition-speed);
}

.profile:hover .profile-img {
  filter: grayscale(0);
}

.user-name {
  margin-top: 30px;
  font-size: 35px;
}

.profile h5 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3px;
  color: #ccc;
}

.profile p {
  font-size: 16px;
  margin-top: 20px;
  text-align: justify;
}

@media only screen and (max-width: 1150px) {
  .profiles {
    flex-direction: column;
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile p {
    text-align: center;
    margin: 20px 60px 80px 60px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 900px) {
  .heading {
    font-size: 40px;
    color: white;
    text-align: center;
  }

  .heading span {
    font-size: 15px;
  }

  .profiles {
    margin: 20px 0;
  }

  .profile p {
    margin: 20px 10px 80px 10px;
  }
}