<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="../css/admin.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="../img/tutrleLogoCircle.png">
        
        <title>Admin Page</title>

    </head>

    <body class="background-red">

        <div class="center">
            <div><a href="#"><button class="btn">Register Turtle</button></a></div>
            <div><a href="#"><button class="btn">Update Turtle</button></a></div>
            <div><a href="#"><button class="btn">Turtle Data</button></a></div>
        </div>

    </body>
</html>