<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="img/tutrleLogoCircle.png">

    <script defer src="js/translation.js"></script>

    <title>AQUA</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
</head>

<body class="background">

    <%- include('partials/navBarPartial')%>

        <!-- Picture Slider -->
        <div class="slider">
            <div class="slide active">
                <img src="https://www.seabrookisland.com/wp-content/uploads/2020/07/WEBSITE_Wildlife_Turtle_Olivia-Helsel_Turtle-Trek_copy_Rotatd-crpd2-banner.jpg" alt="">
                <div class="info">
                    <h2 data-lang="headerOnArticle1">The future is ahead</h2>
                    <p data-lang="testText">Every year less and less turtles hatch from their egg and begin their struggle for survival.</p>
                </div>
            </div>
            <div class="slide">
                <img src="https://thetortoiseandturtlesource.com/wp-content/uploads/2020/09/childs-hands-holding-turtle_147984695_0.jpg" alt="">
                <div class="info">
                    <h2 data-lang="test2">They need our help</h2>
                    <p data-lang="testText2">We can help them thrive and regain the diversity in species they once had.</p>
                </div>
            </div>
            <div class="slide">
                <img src="https://www.gannett-cdn.com/-mm-/61010c4fc113a25c4bef268b3a1443bb29d3b31b/c=19-89-4926-2862/local/-/media/2018/04/12/USATODAY/USATODAY/636591334179413866-AFP-AFP-13Y5A3.jpg" alt="">
                <div class="info">
                    <h2>There are only a few left</h2>
                    <p>Many species have fallen under the endangered and extinct bar in the last decade.</p>
                </div>
            </div>
            <div class="navigation">
                <i class="fas fa-chevron-left prev-btn"></i>
                <i class="fas fa-chevron-right next-btn"></i>
            </div>
            <div class="navigation-visibility">
                <div class="slide-icon active"></div>
                <div class="slide-icon"></div>
                <div class="slide-icon"></div>
            </div>
        </div>
        <!--  Blog tabs  -->

        <div class="center">
            <img src="img/cuteTurtleTopper.png" class="turtle-topper">
        </div>

        <div class="background-blue">
            <div class="blog-div">
                <div class="blog-post">
                    <div class="blog-post_img">
                        <img src="https://img.freepik.com/free-vector/gradient-code-logo_23-2148812989.jpg?size=338&ext=jpg" width="100%">
                    </div>
                    <div class="blog-post_info">
                        <div class="blog-post_date">
                            <span>Monday</span>
                            <span>June 28 2021</span>
                        </div>
                        <h1 class="blog-post_title">Title</h1>
                        <p class="blog-post_text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam iaculis nisl id tincidunt luctus. Quisque in eros nec metus volutpat vulputate nec non massa. Cras lacinia accumsan elit et egestas. Fusce sit amet dolor a sapien tincidunt lobortis vitae
                            sit amet lacus.
                        </p>
                        <a href="#" class="blog-post_cta">Read more</a>
                    </div>
                </div>
            </div>

            <div class="blog-div">
                <div class="blog-post">
                    <div class="blog-post_img">
                        <img src="https://img.freepik.com/free-vector/gradient-code-logo_23-2148812989.jpg?size=338&ext=jpg" width="100%">
                    </div>
                    <div class="blog-post_info">
                        <div class="blog-post_date">
                            <span>Monday</span>
                            <span>June 28 2021</span>
                        </div>
                        <h1 class="blog-post_title">Title</h1>
                        <p class="blog-post_text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam iaculis nisl id tincidunt luctus. Quisque in eros nec metus volutpat vulputate nec non massa. Cras lacinia accumsan elit et egestas. Fusce sit amet dolor a sapien tincidunt lobortis vitae
                            sit amet lacus.
                        </p>
                        <a href="#" class="blog-post_cta">Read more</a>
                    </div>
                </div>
            </div>

            <ul class="main">
                <li>
                    <input type="radio" name="tab" id="label-1" checked>
                    <label for="label-1">Who are we?</label>
                    <div class="content-blog">
                        <p style="float: left; clear: left"><img src="img/tutrleLogoCircle.png" height="200px" width="200px" border="1px" class="img"></p>
                        <h1>Who are we?</h1>
                        <p>Meet team Anti-Chupacabra – We’re a small organization consisting of 6 people which works together to achieve a shared goal – to help turtles.</p>
                        <a href="//localhost:3000/team" class="link">About Us</a>
                    </div>
                </li>
                <li>
                    <input type="radio" name="tab" id="label-2">
                    <label for="label-2">What do we do?</label>
                    <div class="content-blog">
                        <p style="float: left; clear: left"><img src="img/tutrleLogoCircle.png" height="200px" width="200px" border="1px" class="img"></p>
                        <h1>What do we do?</h1>
                        <p>"We seek out wounded, ill or endangered turtles with the purpose of helping them or trying to protect their species from extinction. Our organization’s inspiration to do what we do today is to create a solution to a problem which
                            is rarely mentioned nowadays- the disregard towards turtles in their natural habitat."</p>
                        <a href="//localhost:3000/team" class="link">About Us</a>
                    </div>
                </li>
                <li>
                    <input type="radio" name="tab" id="label-3">
                    <label for="label-3">Why do we do it?</label>
                    <div class="content-blog">
                        <p style="float: left; clear: left"><img src="img/tutrleLogoCircle.png" height="200px" width="200px" border="1px" class="img"></p>
                        <h1>Why do we do it?</h1>
                        <p>"Our organization does what we do today, so we can help turtles as much as we possibly can. We have taken into consideration that humans have brought lots of animal species to the brink of extinction, including lots of turtle species
                            such as the Green sea turtle, the Flatback sea turtle, the Mary River turtle and more."</p>
                        <a href="//localhost:3000/team" class="link">About Us</a>
                    </div>
                </li>
            </ul>
        </div>

        <%- include('partials/footerPartial')%>

            <div id="top-of-site-pixel-anchor"></div>
            <script src="js/main.js"></script>

            <!--Font Awesome CDN BOOTSTRAP-->
            <script src="https://kit.fontawesome.com/55c91cfd61.js" crossorigin="anonymous"></script>
            <!--jQuery CDN BOOTSTRAP-->
            <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
            <script>
                $(document).ready(function() {
                    $('.menu-toggle').click(function() {
                        $('.menu-toggle').toggleClass('active')
                        $('nav').toggleClass('active')
                    })
                })
            </script>
</body>

</html>