<!DOCTYPE html>
<html>

<head>
    <title>Registrations</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Register a turtle</h1>

    <% if (typeof error !== "undefined") { %>
        <p style="color: red">
            <%=error%>
        </p>
        <% } %>

            <form method="POST" action="/turtles/registration">
                Is Registered: <input type="checkbox" name="isRegistered"> Name: <input type="text" name="name" value="ivo"> Breed: <input type="text" name="breed" value="blatna"> Sex: <input type="text" name="sex" value="1"> Age:
                <input type="text" name="age" value="100">
                <button type="submit">Submit</button>
            </form>
</body>

</html>